<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <section>
      <svg
        class="modal-close visible-in-modal"
        tabindex="0"
        viewBox="0 0 16 16"
        role="button"
      >
        <path d="M1,1 L15,15 M15,1 L1,15" stroke="currentColor"></path>
      </svg>
      <div class="quotes-h2"><h2>contact Information</h2></div>
      <div class="grid-x align-center">
        <div class="xlarge-8 cell">
          <ul
            class="grid-x grid-margin-x align-justify text-center steps-progress flexRow"
          >
            <li class="shrink cell">
              <span class="step-toggle steps-progress__item-overlay current"
                ><div class="steps-progress__item">
                  <svg
                    width="45"
                    height="45"
                    viewBox="0 0 96 96"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="52.421"
                      cy="42.3158"
                      r="40.5526"
                      stroke="#BD9973"
                    ></circle>
                    <circle
                      opacity="0.4"
                      cx="58.1052"
                      cy="48"
                      r="34.8684"
                      stroke="#838489"
                    ></circle>
                    <circle
                      opacity="0.2"
                      cx="48"
                      cy="48"
                      r="47.5"
                      stroke="#B3B4B8"
                    ></circle>
                  </svg>
                </div>
                <div class="step-toggle__index">1</div>
                <div class="pt-8 medium-pt-24 step-toggle__title">
                  Flight Details
                </div></span
              >
            </li>
            <li class="shrink cell">
              <span class="step-toggle steps-progress__item-overlay locked"
                ><div class="steps-progress__item">
                  <svg
                    class="svg-item"
                    width="45"
                    height="45"
                    viewBox="0 0 96 96"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="52.421"
                      cy="42.3158"
                      r="40.5526"
                      stroke="#BD9973"
                    ></circle>
                    <circle
                      opacity="0.4"
                      cx="58.1052"
                      cy="48"
                      r="34.8684"
                      stroke="#838489"
                    ></circle>
                    <circle
                      opacity="0.2"
                      cx="48"
                      cy="48"
                      r="47.5"
                      stroke="#B3B4B8"
                    ></circle>
                  </svg>
                </div>
                <div class="step-toggle__index">2</div>
                <div class="pt-8 medium-pt-24 step-toggle__title">
                  Contact Information
                </div></span
              >
            </li>
            <li class="shrink cell">
              <span class="step-toggle steps-progress__item-overlay locked"
                ><div class="steps-progress__item">
                  <svg
                    width="45"
                    height="45"
                    viewBox="0 0 96 96"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="52.421"
                      cy="42.3158"
                      r="40.5526"
                      stroke="#BD9973"
                    ></circle>
                    <circle
                      opacity="0.4"
                      cx="58.1052"
                      cy="48"
                      r="34.8684"
                      stroke="#838489"
                    ></circle>
                    <circle
                      opacity="0.2"
                      cx="48"
                      cy="48"
                      r="47.5"
                      stroke="#B3B4B8"
                    ></circle>
                  </svg>
                </div>
                <div class="step-toggle__index three">3</div>
                <div class="pt-8 medium-pt-24 step-toggle__title three">
                  Thank You!
                </div></span
              >
            </li>
          </ul>
        </div>
        <div class="center-container">
          <div class="">
            <div class="title"><h2>Thank You!</h2></div>
            <div class="text-center accent-text mb-48">
              <p>
                In order to process your request, kindly validate the email we
                have just sent to you.
              </p>
            </div>
            <div class="flex-container align-center white">
              <a
                class="flex-container button button--reverse button--medium"
                id="bottomSvg"
                href="/"
                ><span
                  class="button__decor button__decor--medium button__decor--reverse"
                  ><svg
                    width="96"
                    height="96"
                    viewBox="0 0 96 96"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="52.421"
                      cy="42.3158"
                      r="40.5526"
                      stroke="#BD9973"
                    ></circle>
                    <circle
                      opacity="0.4"
                      cx="58.1052"
                      cy="48"
                      r="34.8684"
                      stroke="#838489"
                    ></circle>
                    <circle
                      opacity="0.2"
                      cx="48"
                      cy="48"
                      r="47.5"
                      stroke="#B3B4B8"
                    ></circle></svg></span
                ><span>Back to homepage</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../script.js"></script>
  </body>
</html>
